<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See the results here</title>
</head>
<body>
    <div>
        <% tweetsJson.map(res=>{ %>
            <p><%= res.text %></p>
            <a><%= res.src %></a>
        <% }) %>
    </div>
</body>
</html>