<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See the results here</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Search Bar (Dont work) -->
    <div class="searchDiv">
        <input type="text" class="textBox" placeholder="Search here">
        <button onclick="search()">Send</button>
    </div>

    <div class="container"></div>

    <div class="loading">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
    </div>

    <script type="text/javascript" src="./index.js"></script>
</body>
</html>